{{ body|safe }}


<!-- TODO: Should we bring our custom file here instead of requiring it from edx.org? -->
<script src="https://files.edx.org/custom-js-example/jschannel.js"></script>
<script type="text/javascript">

    // Object.prototype.isEmpty = function () { return Object.keys(this).length == 0; }

    function fetchSubcontentId(objectId) {
        let result = (/subContentId=([0-9a-z\-]+)/g).exec(objectId);
        if (!result) {
            return "";
        }

        return result[1];
    }

    function main() {
        let activityId = Object.keys(H5PIntegration.contents)[0]; // TODO: What if there is more than one?
        window.subContents = JSON.parse(H5PIntegration.contents[activityId].jsonContent).questions;

        if (window.subContents) {
            window.subContents = window.subContents.reduce((dict, q) => {
                dict[q.subContentId] = {};
                return dict;
            }, {});
        }

        window.result = {}; // ?

        window.H5P.externalDispatcher.on("xAPI", onXAPI);
    }

    function onXAPI(event) {
        let subContentId = fetchSubcontentId(event.data.statement.object.id);
        console.log(event);

        if (subContentId) {
            handleSubcontentUpdate(subContentId, event);
        }
        else {
            handleContentUpdate(event);
        }
    }

    function handleSubcontentUpdate(subContentId, event) {
        window.subContents[subContentId] = event.data.statement.result;
    }

    function handleContentUpdate(event) {
        window.result = event.data.statement.result;
    }

    function getState() {
        if (Object.keys(window.result).length > 0) {
            return window.result;
        }

        if (!window.subContents) {
            return {
                completion: false,
                score: { min: 0, max: 1, raw: 0, scaled: 0 } // ?
            }
        }

        return {
            completion: false,
            score: Object.keys(window.subContents).reduce((score, subContentId) => {
                if (!window.subContents[subContentId].score) {
                    return score;
                }

                // TODO: Watch for bugs that might arise from this shady calculation
                score.raw += window.subContents[subContentId].score.scaled;
                score.scaled = (score.raw - score.min) / (score.max - score.min);

                return score;
            }, { min: 0, max: Object.keys(window.subContents).length, raw: 0, scaled: 0 })
        }
    }

    function setState() {

    }

    window.addEventListener("load", main);
</script>

<style>
    #hider {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 9999;

        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>

<div id="hider" onclick="javascript:document.getElementById('hider').style.display = 'none';">
    <div style="flex: 1">&nbsp;</div>
    <h1>Activity Completed.</h1>
    To re-do the activity, press click anywhere on the gray area.
    <div style="flex: 1">&nbsp;</div>
</div>